@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto.woff2);
}

:root {
	--blue-background: rgb(25, 146, 212);
	--white-background: rgb(255, 255, 255);
	--gray-background: rgb(226, 232, 240);
	--yellow-border: rgb(240, 180, 41);
}

html {
	font-size: 16px;
}

body {
	font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	background-color: var(--gray-background);
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}

.sidebar {
	background-color: var(--blue-background);
	color: var(--white-background);
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	display: grid;
	grid-auto-rows: max-content;
	gap: 2em;
	padding: 0.5em;
	font-weight: 600;
}

.side-header {
	font-size: 1.25rem;
}

.sidebar-logo {
	height: 45px;
	width: 45px;
}

.sidebar-icon {
	height: 24px;
	width: 24px;
}

.side-header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
}

.side-header > div {
	justify-self: start;
}

.side-nav {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 0.75em;
	justify-items: center;
	align-items: center;
}

.side-nav > div {
	justify-self: start;
}

.side-settings {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 0.75em;
	justify-items: center;
	align-items: center;
}

.side-settings > div {
	justify-self: start;
}

.header {
	background-color: var(--white-background);
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 3fr;
	align-items: center;
	font-weight: 600;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0px 3px 5px rgb(175, 185, 192);
}

.search {
	display: flex;
	align-items: center;
}

.searchbar {
	flex: 1;
	background-color: var(--gray-background);
	border: none;
	border-radius: 12px;
	height: 1.25rem;
}

.search > img {
	height: 20px;
	width: 20px;
	padding-right: 8px;
}

.account {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7%;
}

.header-icon {
	height: 20px;
	width: 20px;
}

.small-avatar {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.welcome {
	display: grid;
	grid-template-columns: 1fr 12fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	line-height: 1em;
}

.large-avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	grid-row: 1 / -1;
	justify-self: center;
}

.hi-there {
	font-size: 0.75rem;
}

.username {
	align-self: start;
	font-size: 1.25rem;
}

.header-buttons {
	display: flex;
	justify-content: center;
	gap: 10%;
}

.header-buttons > button {
	background-color: var(--blue-background);
	color: var(--white-background);
	border: none;
	border-radius: 20px;
	padding: 7px 24px;
	font-weight: 600;
	margin-left: 1em;
}

.main {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.main-left {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	padding: 0 1em;
}

.project-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2em;
}

.main-header {
	font-weight: 600;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
}

.project-card,
.announcement-card,
.trending-card {
	background-color: var(--white-background);
	border-radius: 8px;
}

.project-card {
	border-left: solid 0.5em var(--yellow-border);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5em 1em;
}

.card-title {
	font-weight: 600;
}

.card-text {
	font-size: 0.9rem;
}

.card-icons {
	align-self: end;
}

.card-icons > img {
	height: 20px;
	width: 20px;
}

.main-right-top {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
}

.main-right-bottom {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
}

.main-right-top,
.main-right-bottom {
	padding-right: 30px;
}

.announcement-card {
	display: flex;
	flex-direction: column;
	padding: 1.5em 1.5em;
}

.announcement {
	font-size: 0.8rem;
	border-bottom: solid 2px var(--gray-background);
	padding: 1em 0;
}

.announcement-card div:first-child {
	padding-top: 0;
}

.announcement div:first-child {
	font-weight: 600;
	font-size: 0.9rem;
}

.announcement:last-child {
	border: none;
}

.trending-card {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.trending-profile {
	display: grid;
	grid-template-columns: 1fr 12fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	line-height: 1em;
	column-gap: 0.75em;
	font-size: 0.9rem;
}

.trending-icon {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	grid-row: 1 / -1;
	justify-self: center;
}

.trending-username {
	font-weight: 600;
}
