@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto.woff2);
}

:root {
	--blue-background: rgb(25, 146, 212);
	--white-background: rgb(255, 255, 255);
	--gray-background: rgb(226, 232, 240);
	--yellow-border: rgb(240, 180, 41);
}

html {
	font-size: 16px;
}

body {
	font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}

.sidebar {
	background-color: var(--blue-background);
	color: var(--white-background);
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	display: grid;
	grid-auto-rows: max-content;
	gap: 2em;
}

.sidebar-logo {
	height: 35px;
	width: 35px;
	margin-left: 1em;
	margin-right: 5%;
}

.sidebar-icon {
	height: 24px;
	width: 24px;
}

.side-header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
}

.side-header > div {
	justify-self: start;
}

.side-nav {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
}

.side-nav > div {
	justify-self: start;
}

.side-settings {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
}

.side-settings > div {
	justify-self: start;
}

.header {
	background-color: var(--white-background);
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 10% 1fr;
}

.main {
	background-color: var(--gray-background);
	grid-column: 2 / -1;
	grid-row: 2 / -1;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.main-left {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

.main-right-top {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
}

.main-right-bottom {
	grid-column: 2 / -1;
	grid-row: 2 / -1;
}

.project-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2em;
}

.project-card,
.announcement-card,
.trending-card {
	background-color: var(--white-background);
	border-radius: 8px;
}

.project-card {
	border-left: solid 0.5em var(--yellow-border);
}
